body {
    font-family: calibri,arial;
    color:#0E4760;
}

#divMenu{
    background: #192D82; 
    box-shadow:1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#divMenu a{
    color:#EBEBEB;
}

#menuServicios{
    background: #e5e4e4; 
    border: none !important; 
    width: 600px;
}

#divMenu .dropdown-item{
    color:#192D80;
}

.subMenu {
    color:#192D80;
}

#btnConoceMas{
    background: #ffffff; 
    border-radius:10px; 
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.barra{
    background-image: url('../../images/menu/barra1.jpg');
    width: 100%; 
    padding-top: 8px; 
    padding-bottom: 10px; 
    justify-content:center; 
    text-align: center;
    border-top: #3b5998 2px solid; 
    border-bottom: #3b5998 2px solid;
}
